<!DOCTYPE html>
<html>

   <head>
      <title>Learning HTML - First Website</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <style>
	  .container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		gap: 10px;
		}
		img {
			border-radius: 8px;
			max-width: 100%;
			height: auto;
		}
	  </style>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   </head>
   
	{% extends "base.html" %}
	{% block content %}
   
   <body style="background-color:#95b1de;" alink = "#FF0000" link = "#0000FF" vlink = "#800080">
   
	<div align = "center">
		
		<hr color="#3d5780"/>
		</br>
		<img src="{{ user.avatar(128) }}" border=4/>
		</br>
		<h1> User: {{ user.username }}</h1>
		
		<p> {{ user.username }} has completed <b>{{ user.daily_count }}</b> exercise(s) </p>
		
		
		{% if user.daily_count < 5 %}
		{% if user.daily_seed[user.daily_count-1]|int == 0 %}
		<p><b>Hold a plank for a minute!</b></p>
		<button onclick="hello(this)" type='button' id ='retrieve'>Start!</button>
		<img src="" id="mygif" />
		</br>
		{% endif %}
		
		{% if user.daily_seed[user.daily_count-1]|int == 1 %}
		<p><b>Do 20 pushups in a row!</b></p>
		{% endif %}
		
		{% if user.daily_seed[user.daily_count-1]|int == 2 %}
		<p><b>Do 20 lunges!</b></p>
		{% endif %}
		
		{% if user.daily_seed[user.daily_count-1]|int == 3 %}
		<p><b>Do 50 jumping jacks!</b></p>
		{% endif %}
		
		{% if user.daily_seed[user.daily_count-1]|int == 4 %}
		<p><b>Do 50 leg lifts!</b></p>
		{% endif %}
		{% endif %}
		
		{% if user.daily_count >= 5 %}
		<p><b>Finished!</b></p>
		{% endif %}
		
		</br>
		<p> Current daily streak is: <b>{{ streak.total_count }}</b></p>
		
		{% if user.daily_count < 5 %}
		<form action="" method="post">
			<button name="ExerciseButton" type="submit">Exercise</button>
		</form>
		{% else %}
		
		<div class="container">
		<form action="{{ url_for('exercise.exercise_top')}}" method="get">
			<button type="submit">View Best Streaks</button>
		</form>
		<form action="{{ url_for('exercise.past_streak', username=current_user.username) }}" method="get">
			<button type="submit">View Your Past Streaks</button>
		</form>
		</div>
		
		{% endif %}
		
		</div>
		
	</body>
	
	 <script>
    $(document).ready(function() {
       $('#retrieve').click(function(){
           $.ajax({
           url: "{{ url_for ('exercise.get_timer') }}",
           type: "GET",
           success: function(response) {
               $("#mygif").attr('src', '/static/' + response);
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });
       });
    });
  </script>
  <script>
  const hello = (element) => {
    element.hidden = true;
  }
  </script>
	{% endblock %}
	
</html>