<!DOCTYPE html>
<html>

   <head>
      <title>Learning HTML - First Website</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='frontbehind.css') }}">
   </head>
	
	{% extends "base.html" %}
	{% block content %}
		
   <body style="background-color:#95b1de;" alink = "#FF0000" link = "#0000FF" vlink = "#800080">
   
		
		
		<hr color="#3d5780"/>
		
		
		
		
		<div class="box-left-mini">
		<!-- Decoration -->
			<div id="second">
				<embed style="position:relative; left:250px; top:50px;" src = "{{ url_for('static', filename='orin.gif') }}"></embed>
			</div>
		<!-- end decoration -->
		
		<!-- Musics -->
			<div id="first" style="position:relative; left: 18px; top:20px;">
				<p style = "font-family:Helvetica; color:#3d5780; font-weight:bold;"><font size = "5">&nbsp&nbsp;<u>Hiatus</u><i><small> by Bill Kiley</small></i></p>
				<audio controls loop id = "Hiatus">
					<source src= "{{ url_for('static', filename='Hiatus.mp3') }}" type="audio/mpeg">
				</audio>
		
				<script>
					var music1 = document.getElementById("Hiatus");
					music1.volume = 0.2;
				</script>
		
				<br/><br/>
		
		
				<p style = "font-family:Helvetica; color:#3d5780; font-weight:bold;"><font size = "5">&nbsp&nbsp;<u>Time and Space</u><i><small> by Bill Kiley</small></i></p>
				<audio controls loop id = "TimeSpace">
					<source src= "{{ url_for('static', filename='Time.mp3') }}" type="audio/mpeg">
				</audio>
		
				<script>
					var music2 = document.getElementById("TimeSpace");
					music2.volume = 0.2;
				</script>
		
				<br/><br/>
		
		
				<p style = "font-family:Helvetica; color:#3d5780; font-weight:bold;"><font size = "5">&nbsp&nbsp;<u>Boss of Nova</u><i><small> by Bill Kiley</small></i></p>
				<audio controls loop id = "BossNova">
					<source src= "{{ url_for('static', filename='Boss.mp3') }}" type="audio/mpeg">
				</audio>
			
				<script>
					var music3 = document.getElementById("BossNova");
					music3.volume = 0.2;
				</script>
		
				<br/><br/>
		
		
				<p style = "font-family:Helvetica; color:#3d5780; font-weight:bold;"><font size = "5">&nbsp&nbsp;<u>Headless Beast</u><i><small> by Bill Kiley</small></i></p>
				<audio controls loop id = "Headless">
					<source src= "{{ url_for('static', filename='Headless.mp3') }}" type="audio/mpeg">
				</audio>
		
				<script>
					var music4 = document.getElementById("Headless");
					music4.volume = 0.2;
				</script>
		
				<br/><br/>
		
		
				<p style = "font-family:Helvetica; color:#3d5780; font-weight:bold;"><font size = "5">&nbsp&nbsp;<u>The Dying of the Light</u><i><small> by Bill Kiley</small></i></p>
				<audio controls loop id = "Dying">
					<source src= "{{ url_for('static', filename='Dying.mp3') }}" type="audio/mpeg">
				</audio>
		
				<script>
					var music5 = document.getElementById("Dying");
					music5.volume = 0.2;
				</script>
			</div>
		<!-- end musics -->
		</div>
		
	</body>
	{% endblock %}
</html>
